<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прогноз погоды</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<form method="post" autocomplete="off">
    <label for="city">Введите название города:</label><br>
    <input type="text" id="city" name="city" value="{{ last_city if last_city else '' }}" autocomplete="off" oninput="fetchSuggestions()"><br>
    <div id="suggestions"></div>
    <input type="submit" value="Получить погоду">
</form>
{% if last_city %}
    <p style="font-size: 20px;">Последний просмотренный город: {{ last_city }}</p>
{% endif %}
<script src="{{ url_for('static', filename='suggestions.js') }}" defer></script>
</body>
</html>
